.show{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.active{
  max-height: 300px;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 1;
  }